# CONFIG_ALL is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL_NONSHARED is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_AUTOREMOVE is not set
CONFIG_BUILD_LOG=y
CONFIG_PACKAGE_libgomp=m
CONFIG_PACKAGE_libquadmath=m
CONFIG_PACKAGE_libgfortran=m
CONFIG_PACKAGE_gcc-fortran-dev=m
CONFIG_PACKAGE_gfortran=m

